.avatar-xl {
    max-width: 100%;
    height: 9rem;;
    background-color: #595C5F;
    color: #fff;
    font-size: 4em;
    cursor: pointer;
}

.avatar-sm {
    width: 2rem;
    height: 2rem;
    background-color: #595C5F;
    color: #fff;
    font-size: 0.8em;
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .avatar-xl { 
        height: 8rem;
        font-size: 3em;
    }    
}